.nav-bar{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px;
    border-radius: 7px;
    border-style: solid ;
    border-color: indigo;
}
